$fontFamily: 'IQOS-Regular';
$fontSize: 16px;
$mainColor: #F8F7F3;
$minWidth: 360px;
$maxWidthContainer: 1200px;

$color-black: #000;
$color-white: #fff;
$color-purple: rgb(145, 60, 160);
$color-yellow: rgb(255, 189, 128);
$color-F3: #F3F5F6;
$color-blue: blue;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 479px;
$xxsm: 411px;